In [110]:
import pandas as pd
from datetime import datetime, timedelta

# Dataset

Es una colección de datos en forma de filas y columnas. Cada fila representa una observación y cada columna una variable.

1. Limpiar los datos
  - Intervalos de tiempo
  - Valores faltantes

2. Filtrar los datos
  - Seleccionar columnas
  - Selección de filas

3. Transformar los datos
  - Uniformizar datos redundantes

In [111]:
df1 = pd.read_csv('./data/data.csv', sep=";", encoding='utf-8', index_col=0)

In [112]:
df1["Nombre"]

Id
1     Juan
2    Pedro
3      Ana
4    Maria
5     Jose
Name: Nombre, dtype: object

In [113]:
type(df1[["Nombre"]])

pandas.core.frame.DataFrame

In [114]:
filt = (df1["Nombre"] == "Pedro" ) | (df1["Edad"] > 30)
filt

Id
1    False
2     True
3    False
4     True
5     True
dtype: bool

In [115]:
df1.loc[filt, ["Nombre", "Edad"]]

   Nombre  Edad
Id
2   Pedro    30
4   Maria    35
5    Jose    40

In [116]:
def isLate(time: datetime, late_time: datetime) -> bool:
    return time > late_time

late_time = datetime.now()
s1 = pd.Series([datetime.now() + (timedelta(3) if i%2==0 else timedelta(0)) for i in range(10)]).apply(lambda x: isLate(x, late_time))
s1

0     True
1    False
2     True
3    False
4     True
5    False
6     True
7    False
8     True
9    False
dtype: bool

In [117]:
dt = datetime.now()
dt.strftime("%Y-%m-%d %H:%M:%S")

'2024-08-02 13:20:08'

In [118]:
td = timedelta(hours=3)
td

datetime.timedelta(seconds=10800)

In [119]:
dt2 = (dt + td)

In [120]:
dt < dt2

True

In [123]:
print(5+5)

10

In [125]:
valores = [1, 5, 8, 9, 12, 16]
["Par" if num%2==0 else "Impar" for num in valores]

['Impar', 'Impar', 'Par', 'Impar', 'Par', 'Par']